<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.forest.zhkz.disaster_control.dao.AreaDao">

    <select id="queryAreaInfo" resultType="com.demo.forest.zhkz.disaster_control.vo.AreaInfoVo">
        SELECT
            a.areaId,
            a.areaName,
            a.areaForestType,
            a.areaType,
            (SELECT
            dictionariesValue
            FROM
            zhkz_dictionaries
            WHERE
            dictionariesKey = a.areaType
            AND dictionariesTable = 'areaType') AS areaTypeName,
            a.areaDominantSpecies,
            g.gradeName
        FROM
          zhkz_area a
        LEFT JOIN zhkz_grade g ON a.areaId = g.areaId
        <where>
            <if test="areaInfo.areaName != null and areaInfo.areaName != ''">
                AND areaName LIKE CONCAT('%',#{areaInfo.areaName},'%')
            </if>
            <if test="areaInfo.areaForestType != null and areaInfo.areaForestType != ''">
                AND areaForestType LIKE CONCAT('%',#{areaInfo.areaForestType},'%')
            </if>
            <if test="areaInfo.gradeName != null and areaInfo.gradeName != ''">
                AND gradeName LIKE CONCAT('%',#{areaInfo.gradeName},'%')
            </if>
        </where>
        ORDER BY areaId
    </select>
</mapper>