/*自定义ElementUI CSS样式*/

/*重写dialog表内元素样式*/
.el-dialog__header {
    background-color: lightseagreen;
}

.el-dialog__title {
    color: white;
}

.el-dialog__footer {
    background-color: lightseagreen;
    padding: 8px;
}