<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="main">
    <!--header-->
    <div class="main_top" style="text-align: center">
        <el-row>
            <h1>用户管理</h1>
        </el-row>
        <el-row>
            <el-form :model="dataQuery" :inline="true" label-width="auto">
                <el-col :span="6">
                    <el-form-item label="权限等级">
                        <el-select size="small" v-model="dataQuery.roleId" clearable>
                            <el-option v-for="item in dataCache.userLevel"
                                       :key="item.dictionariesKey"
                                       :label="item.dictionariesValue"
                                       :value="item.dictionariesKey">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :span="6">
                    <div style="min-height: 1px;background-color: transparent"></div>
                </el-col>
                <el-col :span="6">
                    <div style="min-height: 1px;background-color: transparent"></div>
                </el-col>
                <el-col :span="6" class="button_box">
                    <el-button type="primary" size="small" @click="initTable">
                        <i class="el-icon-search"></i> 查询
                    </el-button>
                    <el-button type="primary" size="small" @click="openInsert()">
                        <i class="el-icon-plus"></i> 新增
                    </el-button>
                </el-col>
            </el-form>
        </el-row>
    </div>
    <!--body-->
    <div class="main_center">
        <el-table :data="tableData"
                  height="450"
                  size="medium"
                  v-loading="loading">
            <el-table-column
                    label="用户名"
                    prop="userName">
            </el-table-column>
            <el-table-column
                    label="密码"
                    prop="userPassword">
            </el-table-column>
            <el-table-column
                    label="权限等级"
                    prop="roleIdName">
            </el-table-column>
            <el-table-column
                    label="真实姓名"
                    prop="userRealName"
            ></el-table-column>
            <el-table-column
                    label="操作"
            >
                <template slot-scope="scope">
                    <el-button @click="editInfo(scope.row)" type="primary" icon="el-icon-edit" size="mini">编辑
                    </el-button>
                    <el-button @click="deleteInfo(scope.row)" type="danger" icon="el-icon-delete" size="mini">删除
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
        <div>
            <el-pagination
                    background
                    layout="prev, pager, next, total"
                    :total="dataQuery.total">
            </el-pagination>
        </div>
    </div>
    <el-dialog :visible.sync="dialogCache.visible" :title="dialogCache.title" @close="resetForm('form')"
               :close-on-click-modal="false" width="30%" center>
        <el-form :model="formData" ref="form" label-width="auto" :rules="submitRules">
            <el-form-item label="用户名" prop="userName">
                <el-input v-model="formData.userName" clearable></el-input>
            </el-form-item>
            <el-form-item label="密码" prop="userPassword">
                <el-input v-model="formData.userPassword" show-password clearable></el-input>
            </el-form-item>
            <el-form-item label="确认密码" prop="rePassword">
                <el-input v-model="formData.rePassword" show-password clearable></el-input>
            </el-form-item>
            <el-form-item label="真实姓名" prop="userRealName">
                <el-input v-model="formData.userRealName" clearable></el-input>
            </el-form-item>
            <el-form-item label="用户权限" prop="userLevel">
                <el-select v-model="formData.roleId" clearable>
                    <el-option v-for="item in dataCache.userLevel"
                               :key="item.dictionariesKey"
                               :label="item.dictionariesValue"
                               :value="item.dictionariesKey">
                    </el-option>
                </el-select>
            </el-form-item>
        </el-form>
        <div slot="footer">
            <el-button type="success" size="medium" round @click="submitForm('form')">
                <i class="el-icon-edit"></i> 确定
            </el-button>
            <el-button type="primary" size="medium" round @click="dialogCache.visible=false">
                <i class="el-icon-close"></i> 关闭
            </el-button>
        </div>
    </el-dialog>
</div>
</body>
<script type="text/javascript" src="/js/user.js"></script>
</html>